body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(202, 198, 198);
    

}
.section{
  width: 100%;
  height: 100vh;
  
}
.search{
    border-radius: 25px;
    border: 2px solid gray;
}
b{
    color: gray;
}
p{
    color: gray;
}
.btn-1{
    background-color: black;
    color: white;
    
    border-radius: 25px;
}
.btn-2{
    border-radius: 100px;
}

.btn-3{
    border-radius: 100px;
}
.btn-4{
    border-radius: 120px;
}
.images{
  display: flex;
  flex-direction: row;
  
  
}
.image-one{
  width: 50%;
}
.samosa{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 position: relative;
 bottom: 28%;
 

  
}










/* Common styles for all screen sizes */

  
  /* Styles for mobile devices */
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 40px;
    }
    .image{
        margin-top: 30px;
        width: 80%;
    }
    .samosa{
      position: relative;
      top: 5%    }
    
  }
  
  /* Styles for tablets */
  @media screen and (min-width: 601px) and (max-width: 899px) {
    h1{
      font-size: 50px;
    }
    .image{
        margin-top: 40px;
        width: 100%;
    }
    .options{
        margin-top: 40px;
        margin-right: 30px;
    
  }
}
  
  /* Styles for laptops and desktops */
  @media screen and (min-width: 900px) {
    h1 {
      font-size: 50px;
    }
    
  }